extends layout

block content
  section.main_section 
    header 
      h1 Create poll
    form(method="POST")
      label Question
      input(type="text", name="question")
      label 
        h2 Answers
      - for (var x = 1; x <= 4; x++)
        label Answer #{x}
        input(type="text", name=x)
      label 
        h2 Options
        label Deadline
        input(type="date", name="date")
      

      button Submit 
    