{% extends "layout.html" %}

{% block body %}
<form method="POST" class="container">
    <div class="mb-3">
        <label for="question" class="form-label">Question</label>
        <input type="text" class="form-control" name="question">
    </div>
    <div class="mb-3 answers">
        <h3>Answers</h3>
        {% for i in range(1,5) %}
        <label for="answer1" class="form-label">Answer {{ i }}</label>
        <input type="text" class="form-control answer" name={{ i }}>
        {% endfor %}
    </div>

    <div class="mb-3">
        <h3>Options</h3>
        <label for="date" class="form-label">Deadline</label>
        <input type="date" class="form-control" name="date" id="date">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block script %}
<script src="/javascripts/createPoll.js"></script>
{% endblock %}