{% extends "layout.html" %}

{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">QuickPoll</h1>
            <p class="lead text-muted">A Free and simple tool for creating polls that you can share with anyone. No sign-up
                required.</p>
            <p>
                <a href="/poll/create" class="btn btn-primary my-2">Create a Poll</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}