doctype html
html
  head
    title= "QuickPoll"
    link(rel='stylesheet', href='https://unpkg.com/mvp.css')
  body
    header
      nav
        a(href="/")
          h1 QuickPoll
        ul
          li
            a(href="/login") Login
          li
            a(href="/register") Register
    main
      block content
