extends layout

block content
  section.main_section 
    header 
      h1 Login
    form
      label Username
      input(type="text")
      label Password
      input(type="password")

      button Login 
    