extends layout

block content
  section.main_section 
    header
      h1=question
      if !canVote
        p You have already voted in this poll
        a(href=pollId +"/results") View results 
      else 
        form(method="POST")
          ul
            each choice in choices
              input(type="radio", name="choice", value=choice.choice_text)
              span=choice.choice_text
              br
                
          button Vote 