{% extends "layout.html" %}

{% block title %}
<title>{{ question }} - QuickPoll</title>
{% endblock %}

{% block body %}
<div class="container">
    <form method="POST">
        <h1>{{ question }}</h1>
        {% if not canVote %}
        <p>You have already voted in this poll</p>
        <a href={{ pollId + "/results" }}>View results</a>
        {% else %}
        {% for choice in choices %}
        <div class="form-check my-3">
            <label class="form-check-label" for="choice">{{ choice.choice_text }}</label>
            <input class="form-check-input" type="radio" name="choice" value={{ choice.choice_text }}>
        </div>
        {% endfor %}
        <button class="btn btn-primary">Vote</button>
        {% endif %}
    </form>
</div>
{% endblock %}