extends layout

block content
  section.main_section 
    header
      h1=question
    form
      ul
        each choice in choices
          input(type="radio", name="choice")
          span=choice.choice_text
          br
            

      button Vote 