extends layout

block content
  section.main_section 
    header
      h1=question
    form
      ul
        each choice in choices
          p=choice.choice_text
            input(type="radio", name="choice")

      button Vote 