extends layout

block content
  section.main_section 
    header 
      h1 Register
    form
      label Username
      input(type="text")
      label Password
      input(type="password")

      button Register 
    