extends layout

block content
  section.main_section 
    header
      h1=question
    
    canvas(id="myChart", width=700, height=700)

    script(src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js") 
    script(src="/javascripts/results.js")
    